body,
h1 {
    display: block;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    background: whitesmoke;
    
}

h1 {
    
    font-size: 2em;
    padding: .5em;
}

fieldset {
    display: flex;
    margin: 2em;
}

.yourInfo {
    margin-top: .25em;
}

div {
    padding: .5em;
}

legend {
    font-size: 1.25em;
    font-weight: bold;
}

/* --- Validation Styles --- */


#email:invalid,
#name:invalid,
#userId:invalid {
    border-color: red;
}

#email:valid,
#name:valid,
#userId:valid {
    border-color: green;
}

form .error {
    color: red;
    font-size: .75em;
    margin-left: 3em;
    text-align: center;
}

/* --- Media Query --- */
@media(min-width: 650px){
    body {
        width: 650px;
    }
    label{
        display: inline-block;
        float: left;
        clear: left;
        width: 50%;
        text-align: right;
        margin: .25em;
    }
    input,
    #copyUser,
    textarea {
        display: inline-block;
        float: left;
        margin: .25em;

    }
    textarea {
        width: 12em;
        height: 6em;
    } 
    h1 {
        font-size: 2.5em;
    }

}